.box{
	width: 50%;
	display: inline-block;
	height: 100vh;
	lineheight: 100vh;
	font-size: 30vh;
	font-family: sans-serif;
	text-align: center;
}

#box1{
	background-color: #FF9999;
}

#box2{
	background-color: #99FF99;
}